<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <ul>
    <li>
      Airline: <%= flight.airline %>
    </li>
    <li>
      Airport: <%= flight.airport %>
    </li>
    <li>
      Flight Number: <%= flight.flightNo %>
    </li>
    <li>
      Departure Date: <%= flight.departs.toLocaleDateString() %>
    </li>
  </ul>
  <a href="/flights/<%= flight._id %>/edit">Edit Flight</a>
  <form action="/flights/<%= flight._id %>/tickets" method="POST">
    <label for="seat-input">Seat:</label>
    <input type="text" id="seat-input" name="seat">
    <label for="price-input">Price:</label>
    <input type="number" name="price" id="price-input">
    <button type="submit">Add Ticket</button>
  </form>
  <% if (flight.tickets.length) { %>
    <h2>Tickets</h2>
    <table>
      <thead>
        <th></th>
        <th>Seat</th>
        <th>Price</th>
      </thead>
      <tbody>
        <% flight.tickets.forEach(ticket => { %>
          <tr>
            <td>
              <form action="/flights/<%= flight._id %>/tickets/<%= ticket._id %>?_method=DELETE" method="POST" class="delete">
                <button type="submit" class="delete-btn">X</button>
              </form>
            </td>
            <td><%= ticket.seat %></td>
            <td>$<%= ticket.price %></td>
          <% }) %>
          </tr>
      </tbody>
    </table>
  <% } else {%>
    <h2>No Tickets Saved</h2>
  <% } %>
</main>

<%- include("../partials/footer") %>
